[submodule "ibkr-flex-client"]
	path = vendor/ibkr-flex-client
	url = git@github.com:vjt/ibkr-flex-client.git
[submodule "ecb-fx-rates"]
	path = vendor/ecb-fx-rates
	url = git@github.com:vjt/ecb-fx-rates.git
